/*================
Template Name: GoSofto - Software Landing Page Responsive HTML Template
Description: Gosofto is a powerful 100% Responsive Multipurpose Software landing page template.
Version: 1.0
Author: https://themeforest.net/user/htmllover/portfolio
=======================*/

/*============================================================
[Table of contents]

01.	RESET CSS
02. GENERAL CSS(body, header, btn, form, list, link, img, middle title, section bg, margin, padding, icon color, breadcrumb)
03. HEADER CSS
04. HERO SECTION CSS
05. CUSTOMER CSS
06. PROMO SECTION CSS
07. ABOUT US CSS
08. OVERVIEW SECTION CSS
09. FEATURE SECTION CSS
10. COUNTER SECTION CSS
11. PRICING TABLE SECTION CSS
12. TESTIMONIAL SECTION CSS
13. CONTACT US SECTION CSS
14. BACK TO TOP SECTION CSS
15. PRELOADER CSS

/* ----------------------------------------------------
	IMPORT GOOGLE FONTS
------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400|Roboto:500,700');

/* -----------------------------------------
			   01.	RESET CSS
-------------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*------------------------------------------
			02. GENERAL CSS(body, header, btn, form, list, link, img, middle title, section bg, margin, padding, icon color)
-------------------------------------------*/
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #fff;
    font-size: 15px;
    color: #7f8c8d;
    line-height: 25px;
    overflow-x: hidden;
}

/*header*/
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 10px;
    padding: 0;
    color: #2c3e50;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    color: blue;
}

h2 {
    font-size: 35px;
    line-height: 40px;
    font-weight: 500;
}

h3 {
    font-size: 30px;
    line-height: 35px;
    font-weight: 500;
}

h4 {
    font-size: 25px;
    line-height: 33px;
    font-weight: 500;
}

h5 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}

h6 {
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
}

b, strong {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}


/* CREADO POR JOHAN SMITH - 02-04-2020 */
.a2a_kit.a2a_kit_size_32.a2a_default_style {
    text-align: center;
    width: 180px;
    padding-top: 10px;
    margin: 0 auto;
}

.a2a_kit a {
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 10px 0px #fff;
    border-radius: 5px;
}

.heart:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-family: 'icons';
  font-size: 21px;
  text-indent: 0;
  font-variant: normal;
  line-height: 21px;
}
.heart {
  position: relative;
  width: 500px;
  overflow: inherit;
  margin: 0px auto;
  list-style: none;
  -webkit-animation: animateHeart 2.5s infinite;
  animation: animateHeart 2.5s infinite;
}
.heart:before,
.heart:after {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  width: 120px;
    height: 200px;
    background: red;
    border-radius: 100px 100px 0 0;
  -webkit-transform: rotate(-45deg) translateZ(0);
  transform: rotate(-45deg) translateZ(0);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.heart:after {
  left: 26%;
  -webkit-transform: rotate(45deg) translateZ(0);
  transform: rotate(45deg) translateZ(0);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
@-webkit-keyframes animateHeart {
  0% {
    -webkit-transform: scale(0.8);
  }
  5% {
    -webkit-transform: scale(0.9);
  }
  10% {
    -webkit-transform: scale(0.8);
  }
  15% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(0.8);
  }
}
@keyframes animateHeart {
  0% {
    transform: scale(0.8);
  }
  5% {
    transform: scale(0.9);
  }
  10% {
    transform: scale(0.8);
  }
  15% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.8);
  }
}


.clearfix{
    clear: both;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/*btn*/

/*custom-btn*/
.softo-btn-outline {
    padding: 4px 30px;
    border: 2px solid #0087CA;
    text-transform: uppercase;
    background-color: transparent;
    color: #0087CA;
    font: 500 13px/29px 'Roboto', sans-serif;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    letter-spacing: 0.5px;
}

.softo-btn-outline:hover {
    border: 2px solid #0087CA;
    background-color: #0087CA;
    color: #fff;
    text-decoration: none;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}

.softo-solid-btn {
    padding: 4px 30px;
    border: 2px solid #0087CA;
    text-transform: uppercase;
    background-color: #0087CA;
    color: #fff;
    font: 500 13px/29px 'Roboto', sans-serif;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    letter-spacing: 0.5px;
}

.softo-solid-btn:hover {
    border: 2px solid #0087CA;
    background: transparent;
    color: #000;
    text-decoration: none;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}

.softo-free-btn{
    display: inline-block;
    padding: 8px 20px !important;
    border: 2px solid #0087CA;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #0087CA;
    color: #fff;
}
.try-free-btn .softo-free-btn{
    font-size: 14px;
    text-transform: capitalize;
    -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.10);
    -moz-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.10);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.10);
}
a.softo-free-btn:hover{
    background: #fff !important;
    border-color: #fff !important;
    color: #0087CA !important;
    opacity: 1;
    text-decoration: none;
}
.navbar.top-nav-collapse ul li .try-free-btn a.softo-free-btn{
    background:transparent !important;
    border-color: #fff;
    opacity: 1;
}
.navbar.top-nav-collapse ul li .try-free-btn a.softo-free-btn:hover{
    background: #fff !important;
    border-color: #fff !important;
    color: #0087CA;
}


button{
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    border: 1px solid transparent;
}

/*form*/
.form-control {
    border: 1px solid #e6e6e6;
    background: #f5f5f5;
    border-radius: 4px;
    height: 35px;
   box-shadow: none;
}

.form-control:focus {
   outline: none;
    box-shadow: none;
}

.form-group {
    margin-bottom: 20px;
}

.form-group.submit-btn {
    margin-bottom: 0;
}

/*list*/

.lista {
	    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: justify;
    max-width: 800px !important;
    font-size: 20px;
    margin-top: 15px;
}

/*link*/
a {
    color: #0087CA;
    text-decoration: none;
    transition: all 0.3s ease;
}

a,
a:active,
a:focus,
a:active {
    text-decoration: none;
}

a:hover,
a:focus {
    color: #003bb1;
    outline: none;
    text-decoration: none;
}

/*img*/
img {
    max-width: 100%
}

.alert {
    padding: 10px;
}

/*section heading one*/
.headingOne {
    margin-bottom: 30px;
}

.headingOne h2 {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    padding: 10px 15px;
    background: #0087CA;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}
.section-title{
    position: relative;
}
.section-title h4{
    font-size: 14px;
    line-height: 16px;
    border-bottom: 1px solid #eee;
    padding: 8px 0;
    margin-bottom: 20px;
}
.section-title h4:after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 2px;
    width: 50px;
    background-color: #0087CA;
}

/*section bg*/
.bg-secondary {
    background: #f6f6f6 !important;
}

.bg-white {
    background: #fff !important;
}

.bg-color {
    background: #0087CA !important;
}

/*text color*/
.white-text {
    color: #fff !important;
}

.color-text {
    color: #0087CA !important;
}

.gray-text {
    color: #4a4a4a !important;
}

/*margin, padding*/
.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

/* =====================================
MARGIN TOP
===================================== */

.mt-0 {
    margin-top: 0;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-90 {
    margin-top: 90px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-110 {
    margin-top: 110px;
}

.mt-120 {
    margin-top: 120px;
}

.mt-130 {
    margin-top: 130px;
}

.mt-140 {
    margin-top: 140px;
}

.mt-150 {
    margin-top: 150px;
}

/* =====================================
MARGIN BOTTOM
===================================== */

.mb-0 {
    margin-bottom: 0;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-110 {
    margin-bottom: 110px;
}

.mb-120 {
    margin-bottom: 120px;
}

.mb-130 {
    margin-bottom: 130px;
}

.mb-140 {
    margin-bottom: 140px;
}

.mb-150 {
    margin-bottom: 150px;
}

/*=====================================
PADDING TOP
===================================== */

.pt-0 {
    padding-top: 0;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-90 {
    padding-top: 90px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-110 {
    padding-top: 110px;
}

.pt-120 {
    padding-top: 120px;
}

.pt-130 {
    padding-top: 130px;
}

.pt-140 {
    padding-top: 140px;
}

.pt-150 {
    padding-top: 150px;
}

/* =====================================
PADDING RIGHT
===================================== */

.pr-0 {
    padding-right: 0;
}

.pr-10 {
    padding-right: 10px;
}

.pr-15 {
    padding-right: 15px;
}

.pr-20 {
    padding-right: 20px;
}

.pr-30 {
    padding-right: 30px;
}

.pr-40 {
    padding-right: 40px;
}

.pr-50 {
    padding-right: 50px;
}

.pr-60 {
    padding-right: 60px;
}

.pr-70 {
    padding-right: 70px;
}

.pr-80 {
    padding-right: 80px;
}

.pr-90 {
    padding-right: 90px;
}

.pr-100 {
    padding-right: 100px;
}

.pr-110 {
    padding-right: 110px;
}

.pr-120 {
    padding-right: 120px;
}

.pr-130 {
    padding-right: 130px;
}

.pr-140 {
    padding-right: 140px;
}

/* =====================================
PADDING BOTTOM
===================================== */

.pb-0 {
    padding-bottom: 0;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-110 {
    padding-bottom: 110px;
}

.pb-120 {
    padding-bottom: 120px;
}

.pb-130 {
    padding-bottom: 130px;
}

.pb-140 {
    padding-bottom: 140px;
}

.pb-150 {
    padding-bottom: 150px;
}

/* =====================================
PADDING LEFT
===================================== */

.pl-0 {
    padding-left: 0;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-30 {
    padding-left: 30px;
}

.pl-40 {
    padding-left: 40px;
}

.pl-50 {
    padding-left: 50px;
}

.pl-60 {
    padding-left: 60px;
}

.pl-70 {
    padding-left: 70px;
}

.pl-80 {
    padding-left: 80px;
}

.pl-90 {
    padding-left: 90px;
}

.pl-100 {
    padding-left: 100px;
}

.pl-110 {
    padding-left: 110px;
}

.pl-120 {
    padding-left: 120px;
}

.pl-130 {
    padding-left: 130px;
}

.pl-140 {
    padding-left: 140px;
}

.pl-150 {
    padding-left: 150px;
}

/*padding top bottom*/
.ptb-0 {
    padding: 0;
}

.ptb-10 {
    padding: 10px 0;
}

.ptb-20 {
    padding: 20px 0;
}

.ptb-30 {
    padding: 30px 0;
}

.ptb-40 {
    padding: 40px 0;
}

.ptb-50 {
    padding: 50px 0;
}

.ptb-60 {
    padding: 60px 0;
}

.ptb-70 {
    padding: 70px 0;
}

.ptb-80 {
    padding: 80px 0;
}

.ptb-90 {
    padding: 90px 0;
}

.ptb-100 {
    padding: 100px 0;
}

.ptb-110 {
    padding: 110px 0;
}

.ptb-120 {
    padding: 120px 0;
}

.ptb-130 {
    padding: 130px 0;
}

.ptb-140 {
    padding: 140px 0;
}

.ptb-150 {
    padding: 150px 0;
}

.p-100 {
    padding: 100px;
}

/* =====================================
SECTION MARGIN
===================================== */

.mtb-0 {
    margin: 0;
}

.mtb-10 {
    margin: 10px 0;
}

.mtb-15 {
    margin: 15px 0;
}

.mtb-20 {
    margin: 20px 0;
}

.mtb-30 {
    margin: 30px 0;
}

.mtb-40 {
    margin: 40px 0;
}

.mtb-50 {
    margin: 50px 0;
}

.mtb-60 {
    margin: 60px 0;
}

.mtb-70 {
    margin: 70px 0;
}

.mtb-80 {
    margin: 80px 0;
}

.mtb-90 {
    margin: 90px 0;
}

.mtb-100 {
    margin: 100px 0;
}

.mtb-110 {
    margin: 110px 0;
}

.mtb-120 {
    margin: 120px 0;
}

.mtb-130 {
    margin: 130px 0;
}

.mtb-140 {
    margin: 140px 0;
}

.mtb-150 {
    margin: 150px 0;
}

/*icon color*/
.icolor-1 i{
    color: #f55573;
}

.icolor-2 i{
    color: #ac6be8;
}

.icolor-3 i{
    color: #405b91;
}

.icolor-4 i{
    color: #30d485;
}

.icolor-5 i{
    color: #56c92e;
}

.icolor-6 i{
    color: #f89c4b;
}

.icolor-7 i{
    color: #19be9c;
}

.icolor-8 i{
    color: #4653cc;
}

/*border color*/
.bbc-1{
    background: #f55573;
}

.bbc-2{
    background: #ac6be8;
}

.bbc-3{
    background: #405b91;
}

.bbc-4 {
    background: #30d485;
}

.bbc-5{
    background: #56c92e;
}

.bbc-6 {
    background: #f89c4b;
}

.bbc-7 {
    background: #19be9c;
}

.bbc-8{
    background: #ea4c89;
}

.bbc-9{
    background: #4653cc;
}
.bbc-10{
    background: #0087CA;
}

.bbc-11{
    background: #bc2a8d;
}

.bbc-12{
    background: #bb0000;
}

/*label bg color*/
.label-bg1 {
    background: #f55573;
    color: #fff;
}

.label-bg2 {
    background: #ac6be8;
    color: #fff;
}

.label-bg3 {
    background: #405b91;
    color: #fff;
}

.label-bg4 {
    background: #30d485;
    color: #fff;
}

.label-bg5 {
    background: #56c92e;
    color: #fff;
}

.label-bg6 {
    background: #f89c4b;
    color: #fff;
}

.label-bg7 {
    background: #19be9c;
    color: #fff;
}

.label-bg8 {
    background: #4653cc;
    color: #fff;
}

/*social links color*/


/*social link color*/
.facebook {
    color: #3b5998;
}

.facebook-bg {
    background: #3b5998;
    color: #fff;
}

.twitter {
    color: #00aced;
}

.twitter-bg {
    background: #00aced;
    color: #fff;
}

.behance{
    color: #3d6adf;
}
.behance-bg{
    background: #3d6adf;
    color: #fff;
}

.instagram {
    color: #bc2a8d;
}


.instagram-bg {
    background: #bc2a8d;
    color: #fff;
}

.google-plus {
    color: #dd4b39;
}

.google-plus-bg {
    background: #dd4b39;
    color: #fff;
}

.linkedin {
    color: #007bb6;
}

.linkedin-bg {
    background: #007bb6;
    color: #fff;
}

.youtube {
    color: #bb0000;
}

.youtube-bg {
    background: #bb0000;
    color: #fff;
}

.pinterest {
    color: #cb2027;
}

.pinterest-bg {
    background: #cb2027;
    color: #fff;
}

.dribbble {
    color: #ea4c89;
}

.dribbble-bg {
    background: #ea4c89;
    color: #fff;
}


.main{
    max-width: 1920px;
    margin: 0 auto;
}



/*section heading*/
.section-heading{
    margin-bottom: 50px;
}
.section-heading h3{
    color: #003bb1;
}
.section-heading p{
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.5em;
    position: relative;
    margin-top: 20px;
}
/*============================================================
				03. HEADER CSS
============================================================*/

.navbar {
    border-bottom: 1px solid #0087CA;
    background-color: #0087CA;
}

.navbar .nav.navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar .navbar-collapse {
    border-top: 1px solid #0087CA;
    background: #0087CA;
    margin-right: 10px;
}

/* Logo */
.navbar .navbar-brand {
    height: auto;
    display: block;
}

/* Menu links */
.navbar .nav.navbar-nav li a {
    color: #fff;
    padding: 22px 15px;
}

.navbar .nav.navbar-nav li a:hover,
.navbar .nav.navbar-nav li.active a {
    background: transparent;
    color: #fff;
    opacity: 1;
}

/* Mobile menu toggle button - pressed */
.navbar .navbar-toggle,
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:active,
.navbar .navbar-toggle.collapsed:active {
    margin-top: 16px;
    border: 1px solid #fff;
    background-color: #fff;
}

.navbar .navbar-toggle .icon-bar,
.navbar .navbar-toggle:hover .icon-bar,
.navbar .navbar-toggle:active .icon-bar,
.navbar .navbar-toggle.collapsed:active .icon-bar {
    background-color: #0087CA;
}
/* end of mobile menu toggle button - pressed */

/* Mobile menu toggle button */
.navbar .navbar-toggle.collapsed {
    border: 1px solid #0087CA;
    background: transparent;
}

.navbar .navbar-toggle.collapsed .icon-bar {
    background-color: #fff;
}
/* end of mobile menu toggle button */

@media screen and (max-width: 768px) and (min-width: 320px) {
    .navbar .nav.navbar-nav li a{
        padding: 8px 15px;
    }


}

@media (min-width: 768px){
    .navbar {
        /*padding: 20px 0;*/
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        background: transparent;
        -o-transition: border-bottom .3s ease-in-out,background .3s ease-in-out,padding .3s ease-in-out;
        -webkit-transition: border-bottom .3s ease-in-out,background .3s ease-in-out,padding .3s ease-in-out;
        -moz-transition: border-bottom .3s ease-in-out,background .3s ease-in-out,padding .3s ease-in-out;
        transition: border-bottom .3s ease-in-out,background .3s ease-in-out,padding .3s ease-in-out;
        -webkit-backface-visibility: hidden;
        background: #0087CA;
    }

    .navbar .nav.navbar-nav {
        padding-top: 0;
        padding-bottom: 0;
        
    }

    .navbar .navbar-collapse {
        border: none;
    }

    .navbar.top-nav-collapse {
        padding: 0;
        background: #0087CA;
    }

    .navbar .navbar-brand {
        margin-right: 16px;
        margin-left: 0;
    }

    .navbar .nav.navbar-nav li a,
    .navbar .nav.navbar-nav.navbar-right li a	{
        padding: 20px 10px;
        -o-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    .navbar .nav.navbar-nav li.active a,
    .navbar .nav.navbar-nav li a:hover	{
        background: transparent;
        color: #e7f3ff;
    }
    .try-free-btn{
        margin-right: 15px;
    }
}

.try-free-btn a{
    margin-top: 12px;
}

.try-free-btn a.softo-solid-btn{
    transition: all 0.3s ease-in;
}

.try-free-btn a.softo-solid-btn:hover{
    background: #0087CA !important;
    border-color: #0087CA !important;
}


.header-nav li.active a.softo-free-btn{
    color: #fff;
}



/*============================================================
				04. HERO SECTION CSS
============================================================*/
.hero-slider-section{
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    background: #58c3ff;
    background: linear-gradient(-50deg,#58c3ff 0,#004de6 40%,#003bb1 100%);
    z-index: 1;
}

.hero-slider-section:after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
}

.slider-content h1{
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 20px;
    font-weight: 400;
}
.slider-content h1, .slider-content p{
    color: blue;
}
.slider-content p{
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 26px;
    margin-bottom: 30px;
}

.slider-action-btn{
    display: block;
    margin-bottom: 20px;
}

.slider-action-btn a.softo-solid-btn{
    background: #0087CA;
    padding: 20px 100px;
    color: #fff;
    font-size: 22px;
    border: 2px solid #fff;
}
.slider-action-btn a.softo-solid-btn:hover{
    border: 2px solid #0087CA;
    color: #fff;
    background: #0087CA;
}

.slider-action-btn a.video {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 30px;
    padding-left: 40px;
    color: #fff;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}
.slider-action-btn a.video:hover span{
    background: #fff;
    color: #0087CA;
}
.slider-action-btn a.video span{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 2px solid #fff;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    transition: all 0.3s ease-in;
}

.slider-action-btn a.video span:before{
    font-size: 18px;
    line-height: 28px;
    margin-left: 2px;
}

/*hero two*/
.hero-slider-section-two{
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
}

.slider-content-two{
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}
.hero-image{
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*hero three*/

.section-shape{
    bottom: -10px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;
}
.section-shape img {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
}

/*weave css*/
.river-wave-area {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.river-wave {
    background: url('../img/wave.svg') repeat-x;
    position: absolute;
    top: -100px;
    width: 6400px;
    height: 100px;
    animation: river-wave 35s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}
.river-wave:nth-of-type(2) {
    top: -56px;
    animation: river-wave 20s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}
@keyframes river-wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}
@keyframes swell {
    0%, 100% {
        transform: translate3d(0,-45px,0);
    }
    50% {
        transform: translate3d(0,5px,0);
    }
}


/*hero four section*/

.hero-bottom-image{
    width: 100%;
    position: absolute;
    bottom: -30px;
    left: 0;
    z-index: 1;
}

/*hero five*/

.hero-four{
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-four:after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
    background: linear-gradient(-50deg,rgba(88, 195, 255, 0.75) 0,rgba(0, 77, 230, 0.75) 40%,rgba(0, 59, 177, 0.75) 100%);
}


/*hero six*/

/*hero video bg css*/
#hero-section .video-section-wrap-two{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}
#hero-section .video-section-wrap-two .pattern-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
}

/*hero seven*/

/*hero background slider bg*/
.slider-bg-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    width: 100%;
    z-index: 1;
}

.slider-bg-contents-wrap h1, .hero-slider-text h1{
    font-size: 40px;
    line-height: 45px;
    color: #fff;
}

.slider-bg-contents-wrap p, .hero-slider-text p{
    margin-bottom: 20px;
    font-size: 18px;
    color: #fff;
}

.hero-action-btn a.softo-solid-btn:hover{
    background: #fff;
    color: #0087CA;
    border-color: #fff;

}

.custom-indicator .owl-dots {
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 50%;
}

.custom-indicator .owl-dots .owl-dot span {
    background: #f1f1f1;
    display: inline-block;
    height: 5px;
    width: 20px;
    vertical-align: middle;
    border: none;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}
.custom-indicator.owl-theme .owl-dots .owl-dot.active span, .custom-indicator.owl-theme .owl-dots .owl-dot:hover span {
    background: #0087CA;
}

/*============================================================
				05. CUSTOMER CSS
============================================================*/
/*start customers css*/
.customers-content .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background: transparent;
}
.customers-content .item img {
    display: block;
    width: auto;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: all 0.3s ease-in;
}
.customers-content .item img:hover{
    cursor: move;
    filter: none;
    -webkit-filter: grayscale(0%);
}
    /*end customers css*/



/*==============================
     06. PROMO SECTION CSS
==============================*/
.single-promo-section{
    background: #fff;
    display: block;
    border-radius: 4px;
    padding: 25px;
    margin-bottom: 20px;
    transition: all 0.3s ease-in;
    -ms-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);
}
.single-promo-section:hover{
    box-shadow: 1px 4px 20px -5px rgba(0, 0, 0, 0.15);
}
.single-promo-section span{
    font-size: 35px;
    margin-bottom: 10px;
    color: #0087CA;
}
.single-promo-section h6{
    font-size: 15px;
    line-height: 23px;
}


/*promo two*/

.promo-bottom-image {
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 115px;
    opacity: 1;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    height: 350px;
    width: 100%;
}
@media screen and (max-width: 1023px) and (orientation: landscape){
    .promo-bottom-image {
        margin-top: 50px;
    }
}

@media screen and (max-width: 767px) {
    .promo-bottom-image {
        height: 0;
    }
    .promo-section{
        padding-bottom: 30px;
    }
}


/*==============================
     07. ABOUT US CSS
==============================*/

.why-us-right-content-wrap{
    padding-bottom: 60px;
}
.why-us-contents{
    margin-top: 30px;
}
.why-us-contents p{
    margin-bottom: 10px;
}

.why-gosofto{
    position: relative;
    display: block;
}
.why-us-img img{
    position: relative;
    display: block;
    margin: auto;
}
.why-us-img-two img{
    max-width: none;
}
.why-us-img-three img{
    margin: auto;
    margin-top: 25px;
}

.about-new-promo, .why-us-contents{
    margin-bottom: 30px;
}

.about-new-promo span{
    font-size: 30px;
    line-height: 30px;
    display: block;
    margin-bottom: 10px;
    color: #0087CA;
}

.about-new-promo h6{
    font-size: 16px;
    line-height: 18px;
}




/*==============================
     08. OVERVIEW SECTION CSS
==============================*/
.overview-section {
    position: relative;
    display: block;
    overflow: hidden;
    background: #0087ca00;
    background: linear-gradient(-50deg,#0087ca00 0,#0087cab5 40%,#0087CA 100%);
}

.tab-content-wrap{
    position: relative;
    display: block;
    width: 100%;
    left: 0;
    right:0;
}

.tab-content-wrap .overview-mac-image{
    z-index: 99;
    max-width: none;
}
.tab-right-side .tab-content .tab-pane img{
    position: absolute;
    left: 145px;
    top: 47px;
    width: 913px;
    z-index: 99;
    max-width: none;
}

.tab-right-side .tab-content img{
    position: absolute;
    top: 0;
}

.tabs-left{
    border-bottom: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
    list-style: none;
    padding-top: 100px;
}
.tabs-left > .nav-tabs > li{
    float: none;
    margin-bottom: 15px;
}

.tabs-left > .nav-tabs > li > a{
    margin-right: 0;
    border-radius: 4px;
    padding: 20px;
    border: none;
}

.tabs-left > .nav-tabs, .nav-center > .nav-tabs {
    border-bottom: none;
}

.tabs-left .nav-tabs>li.active, .nav-center .nav-tabs>li.active{
    background: rgba(0,0,0,0.12) !important;
    border: none;
    border-radius: 4px;
    color: #fff;
}
.tabs-left > .nav-tabs > li > a span{
    float: left;
    margin-right: 15px;
    color: #fff;
    position: absolute;
    top: calc(50% - 20px);
    font-size: 35px;
}
.tabs-left .nav-tabs>li.active>a, .tabs-left .nav-tabs>li>a:focus, .tabs-left .nav-tabs>li>a:hover, .nav-center .nav-tabs>li.active>a, .nav-center .nav-tabs>li>a:focus, .nav-center .nav-tabs>li>a:hover{
    background: transparent !important;
    border: none;
    border-radius: 4px;
}
.nav-center .nav-tabs > li > a span{
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.nav-center .nav-tabs>li.active>a, .nav-center .nav-tabs>li.active>a:focus, .nav-center .nav-tabs>li.active>a:hover{
    color: #fff;
}

.nav-center > .nav-tabs > li > a{
    margin-right: 0;
    border-radius: 4px;
    border: none;
    padding: 12px 15px;
    color: #fff;
    font-size: 14px;
    line-height: 15px;
    display: inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
.nav-tabs-list-item{
    margin-left: 55px;
    display: list-item;
    height: auto;
    overflow: hidden;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.8);
}
.nav-tabs-list-item h6{
    color: #fff;
    font-size: 16px;
    line-height: 18px;
}

/*overview feature list*/
.overview-feature-content{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    position: relative;
    display: block;
    color: #fff;
}
.overview-feature-content h6{
    color: #fff;
}
.overview-list{
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.overview-list li{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    max-width: 50%;
    margin-top: 30px;
    font-size: 16px;
    line-height: 22px;
    display: inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
@media screen and (max-width: 767px){
    .overview-list li {
        max-width: 100%;
    }
}

.overview-list li span{
    margin-right: 10px;
    font-size: 30px;
    line-height: 30px;
}

.overview-feature-content-image{
    margin: 30px 0;
}

/*software quick overview two*/

.nav-center {
    text-align: center;
    margin-bottom: 30px;
}
.nav-center .nav-tabs{
    border-bottom: none;
}
.nav-center ul.nav {
    display: inline-block;
}
.nav-center ul.nav li {
    display: inline-block;
}


.tab-content-wrap-two{
    position: relative;
    display: block;
}
.tab-content-wrap-two .tab-content{
    left: 145px;
    top: 47px;
    width: 913px;
    z-index: 99;
}
.tab-content-wrap-two .tab-content img{
    position: absolute;
    top: 0;
}


/*======================================
        09. FEATURE SECTION CSS
=====================================*/

.biz-home-single-service {
    padding: 20px;
    margin-bottom: 30px;
    transition: all 0.3s ease-in;
}
.biz-home-single-service-two{
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 30px;
    transition: all 0.3s ease-in;
    -ms-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);
}
.biz-home-single-service-two:hover{
    box-shadow: 1px 2px 15px -5px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}
.biz-home-single-service-two:hover .service-style-two span, .biz-home-single-service-two:hover .service-style-two h5{
    color: #003bb1;
}
.service-style-one {
    position: relative;
    padding: 0 0 0 50px;
}
.service-style-two{
    position: relative;
    padding: 0;
}
.service-style-two span{
    transition: all 0.3s ease-in;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 15px;
    display: inline-block;
}
.service-style-one span{
    position: absolute;
    left: 0;
    font-size: 30px;
    line-height: 30px;
}

.biz-home-single-service:hover .service-style-one span:before, .biz-home-single-service:hover .home-service-text h5{
    color: #003bb1;
}
.biz-home-single-service:hover{
    cursor: pointer;
    background: #fff;
    border-radius: 4px;
}
.service-style-one span:before {
    color: #0087CA;
    transition: all 0.3s ease-in;
}
.home-service-text h5 {
    font-size: 16px;
    margin-bottom: 5px;
    line-height: 18px;
}
.home-service-text h5{
    color: #2e3b4e;
}


/*==================================
        10. COUNTER SECTION CSS
====================================*/
.counter-section{
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}


.counter-content-wrap h3{
    font-size: 28px;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 35px;
}
.singl-counter{
    display: block;
    margin-bottom: 30px;
}
.singl-counter p {
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 400;
}
.singl-counter h4{
    color: #003bb1;
    font-weight: 700;
}

.counter-text p{
    color: #0087CA;
    font-weight: 400;
}

/*============================================================
			11. PRICING TABLE SECTION CSS
============================================================*/

.pricing-plan-one .nav-tabs > li.active > a{
    background: #0087CA;
}
.pricing-contents{
    background: #fff;
    border-radius: 4px;
}

.pricing-plan-one .nav-tabs {
    border: none;
    margin: 0 0 30px;
}
.pricing-plan-one .nav-tabs > li {margin: 0;}
.pricing-plan-one .nav-tabs > li > a {
    width: 130px;
    line-height: 40px;
    font-size: 15px;
    padding: 0;
    background: #ffffff;
    color: #00000a;
    border: none !important;
    margin: 0;
    text-align: center;
    border-radius: 0;
}
.pricing-plan-one .nav-tabs > li{
    border: 2px solid #0087CA;
}
.pricing-plan-one .nav-tabs > li:first-child{
    border-right: 0;
    border-radius: 30px 0 0 30px;
}
.pricing-plan-one .nav-tabs > li:last-child{
    border-left: 0;
    border-radius: 0 30px 30px 0;
}
.pricing-plan-one .nav-tabs > li:first-child > a {
    border-radius: 28px 0 0 28px;
}
.pricing-plan-one .nav-tabs > li:last-child > a {
    border-radius: 0 28px 28px 0;
}
.pricing-plan-one .nav-tabs > li.active > a,
.pricing-plan-one .nav-tabs > li.active > a:hover,
.pricing-plan-one .nav-tabs > li.active > a:focus {
    color: #fff;
}
.pricing-plan-one .tab-content .left-side {
    width: 45%;
    background: #0087CA;
    text-align: center;
    color: #fff;
    padding: 70px 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pricing-plan-one .tab-content .left-side span {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 40px;
    display: block;
}
.pricing-plan-one .tab-content .left-side span sup {
    font-size: 32px;
    top:-22px;
}
.pricing-plan-one .tab-content .left-side span sub {
    font-size: 30px;
    top: -10px;
    left: -5px;
}
.pricing-plan-one .tab-content .left-side h6 {
    font-size: 24px;
    color: #fff;
    padding: 22px 0 50px 0;
}
.pricing-plan-one .tab-content .left-side a {
    background: #0087CA;
    color: #fff;
    transition: all 0.3s ease-in;
}
.pricing-plan-one .tab-content .left-side a.softo-btn-outline{
    border-color: #fff;
}
.pricing-plan-one .tab-content .left-side a.softo-btn-outline:hover{
    background: #fff;
    color: #0087CA;
}
.pricing-plan-one .tab-content .right-side {
    width: 55%;
    background: #fff;
    padding:45px 35px;
    border-radius: 10px;
}
.pricing-plan-one .tab-content .right-side h6 {
    font-weight: 700;
    color: #0087CA;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 0;
}
.pricing-plan-one .tab-content .right-side h4 {
    margin: 0 0 15px 0;
    font-size: 18px;
}
.pricing-plan-one .tab-content .right-side ul li {
    line-height: 30px;
    font-size: 14px;
}
.pricing-plan-one .tab-content .right-side p{
    color: #003bb1;
    font-size: 14px;
    font-weight: 400;
}

.pricing-plan-one .tab-content {
    -webkit-box-shadow:  0 2px 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}

.float-left {
    float: left;
}

@media (max-width: 550px){
    .pricing-plan-one .tab-content .left-side, .pricing-plan-one .tab-content .right-side {
        width: 100%;
    }
}

/*============================================================
			12. TESTIMONIAL SECTION CSS
============================================================*/

.custom-carousel.owl-theme .owl-nav {
    position: absolute;
    top: 43%;
    width: 100%;
    margin: 0;
}

.custom-carousel .owl-nav > div {
    top: 43%;
    position: absolute;
    background: transparent;
}

.owl-theme .owl-nav [class*=owl-] {
    background: transparent;
    padding: 5px 15px;
    color: #e6e6e6;
    margin: 0;
}

.custom-carousel .owl-nav .owl-prev i, .custom-carousel .owl-nav .owl-next i {
    font-size: 35px;
    line-height: 35px;
    padding: 2px 10px;
    border-radius: 2px;
}

.custom-carousel.owl-theme .owl-nav [class*=owl-]:hover{
    background: transparent;
    color: #2965d7;
}
.custom-carousel.owl-theme .owl-nav [class*=owl-]:hover .custom-carousel .owl-nav .owl-prev i, .custom-carousel.owl-theme .owl-nav [class*=owl-]:hover .custom-carousel .owl-nav .owl-next i{
    color: #fff;
    z-index: 9;
}
.custom-carousel .owl-nav .owl-prev, .custom-carousel .owl-nav .owl-next{
    padding: 0;
}
.custom-carousel .owl-nav .owl-prev {
    left: -25px;
}

.custom-carousel .owl-nav .owl-next {
    right: -25px;
}

.testimonial-single{
    min-height: 280px;
    padding: 30px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.testimonial-single h6{
    margin-bottom: 0;
}
.testimonial-single p{
    font-style: italic;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 20px 0;
    min-height: 130px;
    overflow: hidden;
}
.testimonial-ratting i{
    font-size: 13px;
}
.testimonial-ratting i.fa-star{
    color: #FFCC00;
}

.testimonial-ratting i.fa-star-o{
    color: #333;
}


/*============================================================
			13. CONTACT US SECTION CSS
============================================================*/

.contact-info-section {
    position: relative;
}
.contact-info-section:after{
    background: transparent url(../img/wavy-alt.png) no-repeat scroll 0 bottom/100% auto;
    content: "";
    height: 250px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1 !important;
}
.auto-container {
    position: relative;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    z-index: 2;
}


.contact-info-section h2 {
    position: relative;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}

.contact-info-section .info-blocks {
    position: relative;
    max-width: 550px;
    margin: 0 auto;
}

.contact-info-section .info-blocks .info-block {
    position: relative;
    margin-bottom: 20px;
}


.contact-info-section .info-blocks .info-block .inner {
    position: relative;
    padding: 5px 0;
    padding-left: 50px;
    min-height: 40px;
}
.inner-left{
    float: left;
}
.inner-right{
    float: right;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
    .inner-left{
        float: none;
    }
    .inner-right{
        float: none;
    }

}

.contact-info-section .info-blocks .info-block .inner .icon-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #0087CA;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 25px;
    background-color: #fcfcfc;
    -webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,0.10);
    -ms-box-shadow: 0 2px 8px 0 rgba(0,0,0,0.10);
    -moz-box-shadow: 0 2px 8px 0 rgba(0,0,0,0.10);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.10);
}

.contact-info-section .info-blocks .info-block .inner .text {
    position: relative;
    color: #0087CA;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
}

.choose-area {
    overflow: hidden;
    position: relative;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.12);
    border-radius: 4px;
    background: #ffffff;
}
.col-7 {
    width: 53%;
}
@media screen and (max-width: 768px) and (min-width: 320px) {
    .col-7 {
        width: 100%;
    }

    .col-5 {
        width: 0;
        display: none;
    }

}
.p-0 {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
.choose-img {
    border-left: 1px solid #e6e6e6;
    height: 100%;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.choose-img iframe{
    width: 100%;
    height: 100%;
}
.footer-address p{
    margin-bottom: 15px;
}
.footer-address{
    padding: 20px 30px;
}
.footer-address ul li i{
    color: #0087CA;
    margin-right: 5px;
}
.col-5 {
    width: 47%;
}

@media (max-width: 1500px) and (min-width: 1200px) {
    .choose-wrapper {
        padding:70px 50px 50px;
    }
}
@media (max-width: 1500px) and (min-width: 1200px) {
    .choose-wrapper{
        padding:130px 15px 127px;
    }
}
.choose-wrapper{
    padding: 40px 60px 40px 60px;
}

.choose-space {
    padding: 0 25px;
}
.choose-content-wrapper {
    background: #1b2796 none repeat scroll 0 0;
    padding: 30px 49px 33px;
}
.mb-50 {
    margin-bottom: 50px;
}
.choose-categories-img {
    background: #fff none repeat scroll 0 0;
    border-radius: 100%;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin: auto;
    text-align: center;
    width: 50px;
}
.choose-categories-content h5 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin-top: 19px;
    text-transform: uppercase;
}
.choose-categories-content p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 0;
}
.single-address-area{
    padding: 20px;
    margin: 40px 0 0;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.05);
    border-radius: 4px;
    min-height: 235px;
}
.contact-us-form .form-group .form-control{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #e6e6e6;
    border-radius: 0;
    background: transparent;
}

.contact-us-form .form-group .form-control:focus{
    border-color: #0087CA;
}


/*============================================================
			14. FOOTER SECTION CSS
============================================================*/

.footer-section{
    position: relative;
}
.footer-single-col{
    margin: 15px 0;
}
.footer-single-col h6{
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
}
.footer-single-col ul{
    line-height: 30px;
}
.footer-single-col ul li{
    padding: 0;
}
.footer-single-col ul li a{
    font-size: 14px;
    color: #acacac;
    display: block;
    transition: all 0.3s ease-in;
}
.footer-single-col ul li a:hover{
    color: #0087CA;
}
.footer-single-col img{
    margin-bottom: 20px;
}
.footer-social-list ul li{
    padding: 0;
}
.footer-social-list ul li a{
    display: block;
}
.footer-social-list ul li a i{
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}
/*copyright text*/


.copyright-text p{
    font-size: 14px;
}

.copyright-text p a, .terms-condition ul li a{
    font-size: 14px;
    transition: all 0.3s ease-in;
}

.copyright-text p a:hover, .terms-condition ul li a:hover{
    color: #003bb1;
}


/*====================================
		15. PRELOADER CSS
====================================*/
#preloader {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    background: #fff;
}

#status,
.softo-preloader {
    background-image: url(../img/preloader.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}

.softo-preloader {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}

/*end preloader css*/



/*====================================
			 16. BACK TO TOP CSS
====================================*/
#toTop {
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-decoration: none;
    color: #fff !important;
    font-size: 20px;
    display: none;
    font-weight: bold;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

#toTop span {
    display: block;
    position: relative;
    background: #0087CA;
    padding: 5px 12px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}



