<!DOCTYPE html>
<html>
    <head>
        <title>Donaciones</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <br>
            <br>
            <br>
            <div class="row">
                <h4>LLena los siguientes datos por favor:</h4>
            </div>
            <div class="row">
                <form class="form-horizontal row" method="post" action="{{asset('donar/empresa')}}">
                    <div class="col-md-6 form-input-wrapper">
                        <label>Razon Social:</label><br>
                        <input type="text" name="razon_social" class="form-control">
                    </div>
                    <div class="col-md-6 form-input-wrapper">
                        <label>Email:</label>
                        <input type="text" name="email" class="form-control">
                    </div>
                    <div class="col-md-6 form-input-wrapper">
                        <label>Telefono:</label>
                        <input type="text" name="telefono" class="form-control">
                    </div>
                    <div class="col-md-6 form-input-wrapper">
                        <label>Tipo Documento:</label>
                        <input type="text" name="tipo_doc" value="NIT"  readonly class="form-control">

                    </div>
                    <div class="col-md-6 form-input-wrapper">
                        <label>Numero de documento:</label>
                        <input type="text" name="num_doc" class="form-control">
                    </div>
                    <div class="col-md-12 form-input-wrapper">
                        <label><strong>Escoge un monto a donar:</strong></label>
                        <div class="row">
                            <div class="col-6 pt1">
                                <a class="amount-btn btn btn-lg btn-default" id="20000_amount" onclick="setAmount(20000)"><input type="radio" name="monto" value="5000">$5,000</a></div>
                                <div class="col-6 pt1">
                                    <a class="amount-btn btn btn-lg btn-default" id="50000_amount" onclick="setAmount(50000)"><input type="radio" name="monto" value="10000">$10,000</a>
                                </div>
                                <div class="col-6 pt1">
                                    <a class="amount-btn btn btn-lg btn-default" id="other_amount" onclick="setAmount('other')">Otro valor</a>
                                </div>
                                <div class="col-12 pt1">
                                    <div class="input-group mt05 input-group-lg none-important" id="other_amount_input_group">
                                        <input aria-describedby="other-amount-group" class="form-control amount-input" id="other_amount_input" name="" placeholder="Introduce un monto" type="number">
                                        <div class="input-group-append"><span class="input-group-text" id="formatted_amount">$ 0</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-12 form-input-wrapper">
                            <button class="form-control btn-info">Realiza tu pago</button>
                        </div>
                </form>
            </div>
        </div>
    </body>
</html>